<header class="header clearfix">
    <h1>Gabe Morales</h1>
    <img src="/assets/me.png" alt="Gabe Morales" />
    <p>iOS Dev, husband, daddy &amp; taco lover. Not necessarily in that order.</p>
        <nav class="navigation">
            <ul>
                <li><a href="/work">Work</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
</header>
        <section id="selected-work">
       <section class="work">
                  <h1>Experience</h1>
                  <ul class="meta-list">
                      <li>2011 - <%= Time.now.year %></li>
                      <li>Lead iOS Developer</li>
                      <li>@ Bnei Baruch USA</li>
                  </ul>
                  <p>
                  Working as Lead iOS Engineer on <a href="">KabbalahApp</a>, <a href="">Torah Portion</a>, <a href="">JTimes</a>, <a href="">Jewish Holidays</a> and <a href="">Kabbalah Quiz</a>.
                  </p>

                  <p>&nbsp;</p>

                  <ul class="meta-list">
                    <li>2011 - <%= Time.now.year %></li>
                    <li>iOS Developer</li>
                    <li>@ Freelance</li>
                </ul>
                  <p>
                  Worked as iOS Engineer with focus on writing iOS Clients. Some projects include: <a href="">Y55Happy</a> and <a href="">Hippo</a>.
                  </p>

                  <p>&nbsp;</p>

                  <ul class="meta-list">
                    <li>2005 - 2011</li>
                    <li>Co-Founder</li>
                    <li>@ VisualNoise</li>
                </ul>
                  <p>
                  Co-founded a graphic and web design studio. Some work featured on DesignWeek Monterrey. Led and managed a team of Graphic Designers and Web Developers on integrated campaigns, promotional ads, branding and web design projects.
                  </p>
                  </section>

<section class="work">
    <% if @latest_post && @latest_post.length > 0 %>
      <h2>Latest Writing</h2>
          <article>
            <h3><a href="<%= @latest_post['url'] %>"><%= @latest_post['title'] %></a></h3>
            <%= @latest_post['excerpt_html'] %>
            <p><a href="<%= @latest_post['url'] %>">Continue Reading &rarr;</a></p>
          </article>
    <% end %>
</section>


        </section>

        <footer class="footer">
            <p>© 2013-<%= Time.now.year %> Gabe Morales.</p>
        </footer>

