<header class="header clearfix">
    <h1>Gabe Morales</h1>
        <nav class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
</header>
    <section class="main">
    <h1>About</h1>
    <img src="/assets/me.png" alt="Gabe Morales" />
    <p>I am a iOS and Rails software engineer, musician, wanna be designer, and burger connoisseur.
    I live in San Francisco with my beautiful wife.
    </p>
    <p>
    Currently, I'm a freelancer. You can hire me. I also work on Roon in my spare time. Checkout my recent projects.
    </p>
    <p>
    When the iPhone SDK first came out in 2008, I wrote this app called Bible that launched day one of the App Store. There are millions of people using it now, which is really humbling. I used to own a few companies, freelanced, and worked at some startups. Notably, Hipstamatic and Scribd. Recently, I sold an app I built, Cheddar, to some cool folks. Ask me about it on Twitter if you're curious.
    </p>
    </section>

    <% if @instagram_posts %>
  <div class="instagram four-up">
    <ul>
    <% @instagram_posts.each do |image| %>
      <li>
        <a href="<%= image['link'] %>" rel="external nofollow" title="<%= image['caption'] ? image['caption']['text'] : nil %>">
          <img src="<%= image['images']['low_resolution']['url'] %>" alt="<%= image['caption'] ? image['caption']['text'] : nil %>">
        </a>
      </li>
    <% end %>
    </ul>
    <p>
      <a href="http://instagram.com/soffes?ref=badge" class="ig-b- ig-b-16"><img src="http://badges.instagram.com/static/images/ig-badge-16.png" alt="Instagram"></a>
      <a href="http://instagram.com/soffes" rel="external nofollow">Follow @soffes</a>
    </p>
  </div>
  <% end %>

<!-- <section class="work">
    <% if @latest_post && @latest_post.length > 0 %>
      <h2>Latest Writing</h2>
          <article>
            <h3><a href="<%= @latest_post['url'] %>"><%= @latest_post['title'] %></a></h3>
            <%= @latest_post['excerpt_html'] %>
            <p><a href="<%= @latest_post['url'] %>">Continue Reading &rarr;</a></p>
          </article>
    <% end %>
</section> -->
        </section>

