        <section id="selected-work">

          <section class="work">
                    <h1><strong>LiveHouston</strong></h1>
                    <ul class="meta-list">
                        <li>2016-<%= Time.now.year %></li>
                        <li>Visit Houston</li>
                        <li>WIP</li>
                    </ul>
                    <p>LiveHouston allows you to get the most up to date attractions and events in Houston, TX.</p>
                    <section class="iphone-wrap clearfix">
                        <article class="work-item iphone">
                            <img src="/assets/houstonFirstHome.png" alt="Home" />
                        </article>
                        <article class="work-item iphone">
                            <img src="/assets/houstonFirstThings.png" alt="Things2Do" />
                        </article>
                        <article class="work-item iphone">
                            <img src="/assets/houstonFirstEventDetail.png" alt="Event Detail" />
                        </article>
                    </section>
                </section>

        <section class="work">
                  <h1><strong>CarePilot</strong></h1>
                  <ul class="meta-list">
                      <li>2016-<%= Time.now.year %></li>
                      <li>ClarifyHealth</li>
                      <li>Launched</li>
                  </ul>
                  <p>Care Pilot offers patients a precise, personalized mobile-based tool that guides them through their entire journey and empowers them in their own care.</p>
                  <a href="https://itunes.apple.com/us/app/carepilot/id1166081531?mt=8Care" class="btn">View on the App Store</a>
                  <section class="iphone-wrap clearfix">
                      <article class="work-item iphone">
                          <img src="/assets/CarePilot1.jpg" alt="Home" />
                      </article>
                      <article class="work-item iphone">
                          <img src="/assets/CarePilot2.jpg" alt="Things2Do" />
                      </article>
                      <article class="work-item iphone">
                          <img src="/assets/CarePilot3.jpg" alt="Event Detail" />
                      </article>
                  </section>
              </section>

        <section class="work">
                  <h1><strong>DH Compass</strong></h1>
                  <ul class="meta-list">
                      <li>2015-<%= Time.now.year %></li>
                      <li>Dignity Health</li>
                      <li>Launched</li>
                  </ul>
                  <p>Dignity Health’s Compass is your personal guide to helping you find your way around our hospitals with ease – giving you a specific visual route to anywhere you want to go.</p>
                  <a href="https://itunes.apple.com/us/app/dignity-health-compass/id1040628647?mt=8" class="btn">View on the App Store</a>
                  <section class="iphone-wrap clearfix">
                      <article class="work-item iphone">
                          <img src="/assets/DH1.jpg" alt="iPhone app" />
                      </article>
                      <article class="work-item iphone">
                          <img src="/assets/DH2.jpg" alt="iPhone app" />
                      </article>
                      <article class="work-item iphone">
                          <img src="/assets/DH3.jpg" alt="iPhone app" />
                      </article>
                  </section>
              </section>

          <section class="work">
              <h1><strong>FLL</strong></h1>
              <ul class="meta-list">
                  <li>2015-<%= Time.now.year %></li>
                  <li>Dignity Health</li>
                  <li>Launched</li>
              </ul>
              <p>The official mobile app for the Fort Lauderdale Hollywood International Airport puts helpful information for the FLL Airport at your fingertips. The new mobile app includes real time flight information and tracking, real time parking availability and rates, and food and shopping options.</p>
              <a href="https://itunes.apple.com/us/app/fll-airport/id1049075491?mt=8" class="btn">View on the App Store</a>
              <section class="iphone-wrap clearfix">
                  <article class="work-item iphone">
                      <img src="/assets/FLL1.jpg" alt="iPhone app" />
                  </article>
                  <article class="work-item iphone">
                      <img src="/assets/FLL2.jpg" alt="iPhone app" />
                  </article>
                  <article class="work-item iphone">
                      <img src="/assets/FLL4.jpg" alt="iPhone app" />
                  </article>
              </section>
          </section>

        <section class="work">
            <h1><strong>Sity</strong></h1>
            <ul class="meta-list">
                <li>2015-<%= Time.now.year %></li>
                <li>TalentSity</li>
                <li>Launched</li>
            </ul>
            <p>Sity is an app for teams that allows people to share what they’ve done, give feedback, and track skill growth. Post to let your team know what you’re up to. Your posts can include skills, collaborators, and images.</p>
            <a href="https://itunes.apple.com/us/app/sity-performance-feedback/id1082605608?mt=8" class="btn">View on the App Store</a>
            <section class="iphone-wrap clearfix">
                <article class="work-item iphone">
                    <img src="/assets/Sity1.jpg" alt="iPhone app" />
                </article>
                <article class="work-item iphone">
                    <img src="/assets/Sity2.jpg" alt="iPhone app" />
                </article>
                <article class="work-item iphone">
                    <img src="/assets/Sity3.jpg" alt="iPhone app" />
                </article>
            </section>
        </section>

        <section class="work">
                <h1>Airport</h1>
                <ul class="meta-list">
                    <li><%= Time.now.year %></li>
                    <li>NDA</li>
                </ul>
                <p>Airport helps you find your way inside any airport. It uses iBeacon technology to show your location inside of the airport and gives you walking directions to your destination. It also provides you with a list of closest airports to your location and gives you helpful information about the airport of your choice. </p>
                <p>&nbsp;</p>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/Airport1.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/Airport2.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>MMInstagram</h1>
                <ul class="meta-list">
                    <li><%= Time.now.year %></li>
                    <li>NDA</li>
                </ul>
                <p>MMInstagram is an Instagram Clone that uses Parse as a backend. Project for MobileMakers.</p>
                <p>&nbsp;</p>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/MMInstagram1.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/MMInstagram2.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>DivvyBikes</h1>
                <ul class="meta-list">
                    <li><%= Time.now.year %></li>
                    <li>NDA</li>
                </ul>
                <p>DivvyBikes is an app that shows the location of Divvy Bike Stations, the bike availability for each bike station and provides the user directions on how to get there. </p>
                <p>&nbsp;</p>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/Divvy1.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/Divvy2.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/Divvy3.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>Get On The Bus</h1>
                <ul class="meta-list">
                    <li><%= Time.now.year %></li>
                    <li>NDA</li>
                </ul>
                <p>Get On The Bus is an app that provides the user with all the bus stops in the Chicago area. It provides different placemarks depending on the type of bus stop it is.  </p>
                <p>&nbsp;</p>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/GOTB1.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/GOTB2.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/GOTB3.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>InstaPhotos</h1>
                <ul class="meta-list">
                    <li><%= Time.now.year %></li>
                    <li>NDA</li>
                </ul>
                <p>InstaPhotos is an Instagram search app. The user can search by either user or tag. The user can double tap to add the photo to the favorites. You can also see the location of where the photo was taken on the map.  </p>
                <p>&nbsp;</p>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/Insta1.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/Insta2.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>MCMS</h1>
                <ul class="meta-list">
                    <li><%= Time.now.year %></li>
                    <li>NDA</li>
                </ul>
                <p>MCMS is a simple battle game between Mystical Creatures. You get to select your creature and once you select it, you can go into battle with a random opponent. Who will win? </p>
                <p>&nbsp;</p>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/MCMS1.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/MCMS2.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/MCMS3.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>MeetUp</h1>
                <ul class="meta-list">
                    <li><%= Time.now.year %></li>
                    <li>NDA</li>
                </ul>
                <p>MobileMakers project that displays local Meetup events in Chicago. It allows the user to view the event information as well as comments. It uses MeetUp's API.</p>
                <p>&nbsp;</p>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/MU1.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/MU2.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/MU3.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>ZaHunter</h1>
                <ul class="meta-list">
                    <li><%= Time.now.year %></li>
                    <li>NDA</li>
                </ul>
                <p>MobileMakers project that displays local pizzerias near your location. It displays the closest 5 pizzerias and provides walking/driving directions to the pizzeria of your location.</p>
                <p>&nbsp;</p>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/Zap1.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/Zap2.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/Zap3.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>GMDDiary</h1>
                <ul class="meta-list">
                    <li><%= Time.now.year %></li>
                    <li>NDA</li>
                </ul>
                <p>GMDDiary is a to do list app that uses CoreData. Personal Project. Open source. </p>
                <p>&nbsp;</p>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/Diary1.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/Diary2.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/Diary3.png" alt="iPhone app" />
                    </article>
                </section>
            </section>


       <section class="work">
                  <h1><strong>Kabbalah App</strong></h1>
                  <ul class="meta-list">
                      <li>2011-<%= Time.now.year %></li>
                      <li>Bnei Baruch USA</li>
                      <li>Launched</li>
                  </ul>
                  <p>KabbalahApp encompasses Bnei Baruch's Education Center. It includes access to its TV Channel, Blog, live streaming of its daily lessons, archive of daily lessons, viewing and downloading books as well as registering to the course. </p>
                  <a href="https://itunes.apple.com/us/app/kabbalah-app/id550938690?mt=8" class="btn">View on the App Store</a>
                  <section class="iphone-wrap clearfix">
                      <article class="work-item iphone">
                          <img src="http://m.kab.tv/ios/gabemdev/assets/kabapp_01.png" alt="iPhone app" />
                      </article>
                      <article class="work-item iphone">
                          <img src="http://m.kab.tv/ios/gabemdev/assets/kabapp_02.png" alt="iPhone app" />
                      </article>
                      <article class="work-item iphone">
                          <img src="http://m.kab.tv/ios/gabemdev/assets/kabapp_03.png" alt="iPhone app" />
                      </article>
                  </section>
              </section>

            <section class="work">
                <h1>Torah Portion</h1>
                <ul class="meta-list">
                    <li>2011-<%= Time.now.year %></li>
                    <li>Bnei Baruch USA</li>
                    <li>Launched</li>
                </ul>
                <p>Every Saturday at shul, usually preceding the reading of the weekly Torah portion, the Rabbi talks about the morals in the portion and gives it a contemporary flavor. Not in this app. Michael Laitman’s Weekly Torah Portion App offers innovative ideas on the process of the world’s correction, known as Tikkun Olam.</p>
                <a href="https://itunes.apple.com/us/app/torah-portion/id665787616?mt=8" class="btn">View on the App Store</a>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/torah_01.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/torah_02.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/torah_03.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>JTimes</h1>
                <ul class="meta-list">
                    <li>2012-<%= Time.now.year %></li>
                    <li>Bnei Baruch USA</li>
                    <li>Launched</li>
                </ul>
                <p>Jtimes (Jewish Times) is an online video talk show with Kabbalist Dr. Michael Laitman giving insights into topics of prime relevance today, with emphasis on the Jewish people.</p>
                <a href="https://itunes.apple.com/us/app/jtimes/id684063749?mt=8" class="btn">View on the App Store</a>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/jtimes_01.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/jtimes_02.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/jtimes_03.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>Jewish Holidays</h1>
                <ul class="meta-list">
                    <li>2012-<%= Time.now.year %></li>
                    <li>Bnei Baruch USA</li>
                    <li>Launched</li>
                </ul>
                <p>*The Spiritual Meaning of the Jewish Holidays* is an app providing information about the spiritual meaning and today’s relevance of the Jewish holidays.</p>
                <p>It includes episodes from the online video talk show *Jtimes* (*Jewish Times*) with Kabbalist Dr. Michael Laitman giving insights into topics of prime relevance today, with emphasis on the Jewish people, as well as the spiritual meaning and today’s relevance of the Jewish holidays.</p>
                <p>It also contains articles on the spiritual meaning of Jewish holidays and the latest blog posts related to the Jewish holidays by Dr. Laitman.</p>
                <a href="https://itunes.apple.com/us/app/jewish-holidays/id700326640?mt=8" class="btn">View on the App Store</a>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/jewishh_01.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/jewishh_02.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/jewishh_03.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>Kabbalah Quiz</h1>
                <ul class="meta-list">
                    <li>2013-<%= Time.now.year %></li>
                    <li>Bnei Baruch USA</li>
                    <li>Launched</li>
                </ul>
                <p>Kabbalah Quiz is an app of 10 sets of quiz questions to accompany the Free Kabbalah Course at the Bnei Baruch Kabbalah Education Center, located here: FreeKabbalahCourse.com</p>
                <a href="https://itunes.apple.com/us/app/kabbalah-quiz/id847571952?mt=8" class="btn">View on the App Store</a>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/kabquiz_01.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/kabquiz_02.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>Hippo</h1>
                <ul class="meta-list">
                    <li><%= Time.now.year %></li>
                    <li>HippoApp</li>
                    <li>NDA</li>
                </ul>
                <p>Hippo is an iPhone app that focuses on tracking movement taking weather into consideration. If you are unable to reach your daily goals due to weather, HippoApp will provide you with healthy alternatives.</p>
                <p>&nbsp;</p>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/hippo_01.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/hippo_02.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>Y55</h1>
                <ul class="meta-list">
                    <li><%= Time.now.year %></li>
                    <li>Y55Happy.com</li>
                    <li>NDA</li>
                </ul>
                <p>Y55 is your personal happiness coach, a kind of wizard in charge of your happiness. Y55 guides you through actions that help you advance in achieving additional balance and happiness in life in three main areas: self actualization (society), family and education/work.</p>
                <p>&nbsp;</p>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/y55_01.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="http://m.kab.tv/ios/gabemdev/assets/y55_02.png" alt="iPhone app" />
                    </article>
                </section>
            </section>
        </section>
