<header class="header clearfix">
    <h1>Work</h1>
            <nav class="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/work">Work</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>
        </header>


        <section id="selected-work">

       <section class="work">
                  <h1><strong>Kabbalah App</strong></h1>
                  <ul class="meta-list">
                      <li>2011-<%= Time.now.year %></li>
                      <li>Bnei Baruch USA</li>
                      <li>Launched</li>
                  </ul>
                  <p>KabbalahApp encompasses Bnei Baruch's Education Center. It includes access to its TV Channel, Blog, live streaming of its daily lessons, archive of daily lessons, viewing and downloading books as well as registering to the course. </p>
                  <a href="https://itunes.apple.com/us/app/kabbalah-app/id550938690?mt=8" class="btn">View on the App Store</a>
                  <section class="iphone-wrap clearfix">
                      <article class="work-item iphone">
                          <img src="/assets/kabapp_01.png" alt="iPhone app" />
                      </article>
                      <article class="work-item iphone">
                          <img src="/assets/kabapp_02.png" alt="iPhone app" />
                      </article>
                      <article class="work-item iphone">
                          <img src="/assets/kabapp_03.png" alt="iPhone app" />
                      </article>
                  </section>
              </section>

            <section class="work">
                <h1>Torah Portion</h1>
                <ul class="meta-list">
                    <li>2011-<%= Time.now.year %></li>
                    <li>Bnei Baruch USA</li>
                    <li>Launched</li>
                </ul>
                <p>Every Saturday at shul, usually preceding the reading of the weekly Torah portion, the Rabbi talks about the morals in the portion and gives it a contemporary flavor. Not in this app. Michael Laitman’s Weekly Torah Portion App offers innovative ideas on the process of the world’s correction, known as Tikkun Olam.</p>
                <a href="https://itunes.apple.com/us/app/torah-portion/id665787616?mt=8" class="btn">View on the App Store</a>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="/assets/torah_01.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="/assets/torah_02.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="/assets/torah_03.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>JTimes</h1>
                <ul class="meta-list">
                    <li>2012-<%= Time.now.year %></li>
                    <li>Bnei Baruch USA</li>
                    <li>Launched</li>
                </ul>
                <p>Jtimes (Jewish Times) is an online video talk show with Kabbalist Dr. Michael Laitman giving insights into topics of prime relevance today, with emphasis on the Jewish people.</p>
                <a href="https://itunes.apple.com/us/app/jtimes/id684063749?mt=8" class="btn">View on the App Store</a>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="/assets/jtimes_01.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="/assets/jtimes_02.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="/assets/jtimes_03.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>Jewish Holidays</h1>
                <ul class="meta-list">
                    <li>2012-<%= Time.now.year %></li>
                    <li>Bnei Baruch USA</li>
                    <li>Launched</li>
                </ul>
                <p>*The Spiritual Meaning of the Jewish Holidays* is an app providing information about the spiritual meaning and today’s relevance of the Jewish holidays.</p>
                <p>It includes episodes from the online video talk show *Jtimes* (*Jewish Times*) with Kabbalist Dr. Michael Laitman giving insights into topics of prime relevance today, with emphasis on the Jewish people, as well as the spiritual meaning and today’s relevance of the Jewish holidays.</p>
                <p>It also contains articles on the spiritual meaning of Jewish holidays and the latest blog posts related to the Jewish holidays by Dr. Laitman.</p>
                <a href="https://itunes.apple.com/us/app/jewish-holidays/id700326640?mt=8" class="btn">View on the App Store</a>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="/assets/jewishh_01.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="/assets/jewishh_02.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="/assets/jewishh_03.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>Kabbalah Quiz</h1>
                <ul class="meta-list">
                    <li>2013-<%= Time.now.year %></li>
                    <li>Bnei Baruch USA</li>
                    <li>Launched</li>
                </ul>
                <p>Kabbalah Quiz is an app of 10 sets of quiz questions to accompany the Free Kabbalah Course at the Bnei Baruch Kabbalah Education Center, located here: FreeKabbalahCourse.com</p>
                <a href="https://itunes.apple.com/us/app/kabbalah-quiz/id847571952?mt=8" class="btn">View on the App Store</a>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="/assets/kabquiz_01.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="/assets/kabquiz_02.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>Hippo</h1>
                <ul class="meta-list">
                    <li><%= Time.now.year %></li>
                    <li>HippoApp</li>
                    <li>NDA</li>
                </ul>
                <p>Hippo is an iPhone app that focuses on tracking movement taking weather into consideration. If you are unable to reach your daily goals due to weather, HippoApp will provide you with healthy alternatives.</p>
                <p>&nbsp;</p>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="/assets/hippo_01.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="/assets/hippo_02.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

            <section class="work">
                <h1>Y55</h1>
                <ul class="meta-list">
                    <li><%= Time.now.year %></li>
                    <li>Y55Happy.com</li>
                    <li>NDA</li>
                </ul>
                <p>Y55 is your personal happiness coach, a kind of wizard in charge of your happiness. Y55 guides you through actions that help you advance in achieving additional balance and happiness in life in three main areas: self actualization (society), family and education/work.</p>
                <p>&nbsp;</p>
                <section class="iphone-wrap clearfix">
                    <article class="work-item iphone">
                        <img src="/assets/y55_01.png" alt="iPhone app" />
                    </article>
                    <article class="work-item iphone">
                        <img src="/assets/y55_02.png" alt="iPhone app" />
                    </article>
                </section>
            </section>

        </section>

